@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
ViewData["Title"] = "Chirp!";
Layout = "Shared/_Layout";
var nextPage = 1;
var lastPage = -1;
}

<div>
    <h2> Public Timeline </h2>
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            
            @for (int cheepAt = Model.CheepRange.Start.Value; cheepAt < Model.CheepRange.End.Value; cheepAt++)
            {
                var cheep = Model.Cheeps[cheepAt];
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <a href="?page=@lastPage">Last page</a>
    <small>page @Model.PageNumber / @Model.TotalPages</small>
    <a href="?page=@nextPage">Next page</a>
    
</div>