@page "/{author}"
@using Chirp.Core.Classes
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var nextPage = Model.PageNumber < Model.TotalPages ? Model.PageNumber + 1 : Model.TotalPages;
    var lastPage = Model.PageNumber > 1 ? Model.PageNumber - 1 : 1;
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @Model.Author?.Name's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @for (int cheepAt = Model.CheepRange.Start.Value; cheepAt < Model.CheepRange.End.Value; cheepAt++)
            {
                var cheep = Model.Cheeps[cheepAt];
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.AuthorId">@cheep.Author.Name</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <a href="@routeName?page=@lastPage">Last page</a>
    <small>page @Model.PageNumber / @Model.TotalPages</small>
    <a href="@routeName?page=@nextPage">Next page</a>
</div>