@page "/{author}"
@using Chirp.Core.Classes
@model Chirp.Razor.Pages.UserTimelineModel
@using Microsoft.AspNetCore.Routing
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var nextPage = 1;
    var lastPage = -1;
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @for (int cheepAt = Model.CheepRange.Start.Value; cheepAt < Model.CheepRange.End.Value; cheepAt++)
            {
                var cheep = Model.Cheeps[cheepAt];
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <a href="@routeName?page=@lastPage">Last page</a>
    <small>page @Model.PageNumber / @Model.TotalPages</small>
    <a href="@routeName?page=@nextPage">Next page</a>
</div>
